/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* for fontawesome */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.App {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 85%;
  top: 30%;
  z-index: 1;
  transition: 5s;
}

.main-left, .main-right {
  position: absolute;
  top: 7%;
  left: 0%;
  height: 85%;
  width: 35%;
}

.main-right {
  left: 65%;
}

.dummy {
  background-image: url(./image/IMG_1786.jpeg);
  background-size: cover;
  width: 60%;
  height: 95%;
}
/*
.Sidebar {
  background-color: rgb(10, 10, 10);
  display: flex;
  left: 60%;
  width: 40%;
  height: 100%;
  z-index: 2;
  color: white;
  padding: 2rem;
  padding-left: 3rem;
  padding-right: 1rem;
  font-size: 1.4em;
  line-height: 1.5em;
  justify-content: space-between;
  transform:translate(200px,0);
}

.Sidebar-off {
  background-color: rgb(10, 10, 10);
  display: none;
  left: 60%;
  width: 40%;
  height: 100%;
  z-index: 2;
  color: white;
  padding: 2rem;
  padding-left: 3rem;
  padding-right: 1rem;
  font-size: 1.4em;
  line-height: 1.5em;
  justify-content: space-between;
  transform:translate(200px,0);
}
*/
.Sidebar {
  width: 40%;
  height: 100%;
  background-color: rgb(10, 10, 10);
  display: flex;
  color: white;
  padding-left: 3rem;
  padding-right: 1rem;
  font-size: 1.4em;
  line-height: 1.5em;
  justify-content: space-between;
  transition: all 0.3s;
  transform: translate(0%);
}

.Sidebar-off {
  width: 0%;
  height: 100%;
  background-color: rgb(10, 10, 10);
  display: flex;
  color: white;
  padding-left: 3rem;
  padding-right: 1rem;
  font-size: 1.4em;
  line-height: 1.5em;
  justify-content: space-between;
  transition: all 0.3s;
  transform: translate(100%);
}

.intro, .school, .address, .get-in-touch {
  margin-bottom: 3em;
}

.school p, .address p, .get-in-touch p {
  font-size: 1.3rem;
  color: rgb(173, 173, 173)
}

.school div, .address div, .get-in-touch div {
  font-size: 1.2rem;
  line-height: 1.2em;
}

.intro {
  margin-top: 2em;
}

.Sidebar-nav {
  text-align: left;
}
.Sidebar-nav div{
  font-size: 0.7em;
}

.fab.fa-github {
  margin-top: 24em;
  font-size: 1.5em;
  font-weight: 500;
}

.Sidebar span {
  font-size: 1rem;
}

.scrollbar {
  display: flex;
}
.scrollbar-el {
  margin-top: 1em;
}

.Title-power {
  position: absolute;
  bottom: 2em;
  left: 2em;
  font-size: 0.5rem;
  color: grey;
}

.Title-profile {
  position: absolute;
  top: 2em;
  right: 2em;
}

.Title-name {
  position: absolute;
  top: 2em;
  left: 2em;
}



